/* Base styles */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  color: #007bff;
}

.dark-mode-toggle {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.main {
  width: 100%;
}

.hero,
.about,
.options,
.form {
  margin-bottom: 40px;
}

#contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.order-now-button,
.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin-top: 0.5em;
}

.footer {
  margin-top: 40px;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  color: #666;
}

/* Dark mode styles */
.dark-mode {
  background-color: #333;
  color: #f0f0f0;
}

.dark-mode .header,
.dark-mode .footer {
  border-color: #444;
}

.dark-mode .logo,
.dark-mode .order-now-button,
.dark-mode .submit-button,
.dark-mode .dark-mode-toggle {
  background-color: #0062cc;
  color: white;
}

.dark-mode .dark-mode-toggle {
  background-color: #555;
}

/* Responsive design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .dark-mode-toggle {
    margin-top: 20px;
  }
}
